<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.cnm.deepdive.videopoker">

  <application
    android:name=".GameApplication"
    android:allowBackup="false"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_spade"
    android:roundIcon="@mipmap/ic_spade"
    android:screenOrientation="landscape"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".controller.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".controller.GameActivity"
      android:screenOrientation="landscape"
      android:parentActivityName="edu.cnm.deepdive.videopoker.controller.SplashActivity">
    </activity>

    <activity
      android:name=".controller.HelpActivity"
      android:screenOrientation="landscape"
      android:parentActivityName="edu.cnm.deepdive.videopoker.controller.GameActivity">
    </activity>

    <activity
      android:name=".controller.PaytableActivity"
      android:screenOrientation="landscape"
      android:parentActivityName="edu.cnm.deepdive.videopoker.controller.GameActivity">
    </activity>

  </application>

</manifest>